<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div>
        <h2>Abdul Wahid</h2>
        <h3>Village: Makhand</h3>
        <form>
            Profile page
            <button class="background-color: darkred" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
