div {
    text-align: center;
    margin: 20px;
}

h2 {
    color: blue;
}

h3 {
    color: gray;
}

form {
    margin-top: 10px;
}

button {
    background-color: rgb(30, 222, 30);
    color: rgb(201, 20, 20);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}